#
# /etc/.gitignore
#

# track configuration changes based on etckeeper installation


# ignore almost everything, but ...
*

# track git specific stuff 
!README.md
!.gitignore

# track etckeepers permission file
!.etckeeper

# track etckeepers configuration directory /etc/etckeeper
!etckeeper/
!etckeeper/*
!etckeeper/*/
!etckeeper/*/*
!etckeeper/*/*/

# track network configuration (systemd-networkd)
!systemd/
systemd/*
!systemd/network/
!systemd/network/*
